<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span></button> <a class="navbar-brand" href="#">Data Friend!</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="Home" class="active">
                    <a ng-click="scrollTo('Home')">Home</a>
                </li>
                <li>
                    <a href="#stuff">Transition Dashboard</a>
                </li>
                <li>
                    <a ng-click="scrollTo('dd4')">Resources</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Visualizations <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Define Data</a>
                        </li>
                        <li>
                            <a href="#">View Data</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>