<div class="row" style="padding-top:30px; padding-bottom:10px">
	<div class="panel panel-default">
		<div class="panel-body">
		   	<div class="col-md-12">
				<ul class="nav nav-pills">
					<li id="search"> 
						<span class="glyphicon glyphicon-search"> </span> 
						<select ui-select2 
						ng-model="testModel" 
						ng-change="changeSelectedNode()" 
						ng-click="url='views/forms/propertyForm.html'" 
						style="width:500px">
						<option ng-repeat="type in testModel.nodes">{{type.nodeTypeLabel}}</option>
						</select>
					</li>
					<li class="btn-group pull-right">
					<div>
						<button type="button" class="btn btn-default" id="createNode" 
						ng-click="url='views/forms/createNodeForm.html'"><span class="glyphicon glyphicon-plus">Node</button>
						<button type="button" class="btn btn-default" ng-click="url='views/forms/propertyForm.html'"><span class="glyphicon glyphicon-plus">Relationship</button>
					</div>
					</li>
				</ul>
			</div>   
		</div>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<div ui-handsontable>
				<div minSpareRows="1" datarows="item in items">
				  <datacolumn value="item.id" title="'ID'"></datacolumn>
				  <datacolumn type="grayedOut" value="item.name.first" title="'First Name'" readOnly></datacolumn>
				  <datacolumn type="grayedOut" value="item.name.last" title="'Last Name'" readOnly></datacolumn>
				  <datacolumn value="item.address" title="'Address'"></datacolumn>
				  <datacolumn value="item.Product.Description" title="'Favorite food'" type="'autocomplete'" live strict>
				    <optionlist datarows="option in item.Product.Options"
				                clickrow="item.Product.Description = option.Description">
				      <img src="{{option.Image}}" style="width: 16px; height: 16px; border-width: 0">
				      {{option.Description}}
				    </optionlist>
				  </datacolumn>
				  <datacolumn type="'checkbox'" value="item.isActive" title="'Is active'" checkedTemplate="'Yes'"
				              uncheckedTemplate="'No'"></datacolumn>
				</div>
				</div>
				</div>
		</div>
	</div>

