<div class="row" style="padding-top:30px; padding-bottom:10px">
	<div class="panel panel-default">
		<div class="panel-body">
		   	<div class="col-md-12">
				<ul class="nav nav-pills">
					<li id="search"> 
						<span class="glyphicon glyphicon-search"> </span> <select ui-select2 ng-model="selectedNose" ng-change="changeSelectedNode()" ng-click="url='views/forms/propertyForm.html'" style="width:500px">
						<option ng-repeat="type in testModel.nodes">{{type.nodeTypeLabel}}</option>
						</select>
					</li>
					<li class="btn-group pull-right">
					<div>
						<button type="button" class="btn btn-default" id="createNode" 
						ng-click="url='views/forms/createNodeForm.html'"><span class="glyphicon glyphicon-plus">Node</button>
						<button type="button" class="btn btn-default" ng-click="url='views/forms/propertyForm.html'"><span class="glyphicon glyphicon-plus">Relationship</button>
					</div>
					</li>
				</ul>
	</div>   
</div>
		</div>
	</div>

<div class="row" style="padding-right:30px">
	<div ng-hide="false" class="col-md-10">
		<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<div id="manCon" editor-select>
								</div>
							</div>
						</div>
					</div>
		</div>
	</div>
</div>